# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse
**/.classpath
**/.project
**/.settings/

# IntelliJ
.idea/
*.iml
*.iws

# Logs
*.log

# Compiled files
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# OS
.DS_Store
Thumbs.db
